@use "../../base/variables" as V;

.home {
  @include V.flex-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  align-items: flex-start;

  img {
    width: 55%;
    height: 100%;
    object-fit: cover;
    object-position: 53%;
    display: none;
  }

  &--page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    color: V.$bg-primary;
    padding: 5% 0 3% 2%;
    background-image: url("../../../assets/banner/all-hands.png");
    background-repeat: no-repeat;
    background-position: 45vw;
    background-size: contain;

    h1 {
      width: 50%;
      margin-top: 5%;
      font-size: 6vw;

      span {
        position: relative;

        &::before {
          content: "";
          color: V.$bg-secondary;
          animation: changeText 16s infinite;
        }

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: calc(100% + 1vw);
          border-left: solid V.$bg-secondary 0.4vw;
          right: -3%;
          animation:
            cursor 0.8s infinite,
            seeText 16s infinite;
          background-color: #fff;
        }
      }
    }

    &--parg {
      @include V.font-inter-regular;
      width: 48%;
      font-size: 1.6vw;
      margin: 1% 0 2% 0;
    }

    button {
      margin-top: 2%;
      width: 21%;
      padding: 1% 2%;
      position: relative;
      transition: all 2s;
      cursor: pointer;
      p,
      svg {
        z-index: 999;
      }

      &::before {
        content: "";
        width: 0%;
        height: 100%;
        background-color: rgba(0, 30, 255, 0.622);
        position: absolute;
        left: 0;
        top: 0;
      }
      &:hover {
        &::before {
          animation: btn-size ease-in-out forwards 0.9s;
        }
      }
    }

    &--cards {
      @include V.flex-between;
      width: 37%;

      aside {
        margin: 11% 0;
        transition: all 0.5s;

        h2 {
          font-size: 3vw;
          text-align: center;
        }
        p {
          font-size: 1vw;
        }

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          transition: all 0.5s;
        }
      }
    }
  }
}
@keyframes btn-size {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes seeText {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 1vw);
  }
}
@keyframes cursor {
  0% {
    border-left: solid #fff 0.4vw;
  }
}
@keyframes changeText {
  0%,
  20% {
    content: "transformam";
  }
  40% {
    content: "melhoram";
  }
  60% {
    content: "mudam";
  }
  80% {
    content: "ensinam";
  }
  100% {
    content: "expiram";
  }
}

@media (max-width: 1024px) {
  .home--page {
    background-position: 50vw;

    h1 {
      width: 55%;
      font-size: 7vw;
    }

    button {
      width: 30%;
      font-size: 1.8vw;
    }

    &--parg {
      width: 60%;
      font-size: 2vw;
    }

    &--cards {
      width: 55%;
      aside {
        h2 {
          font-size: 4.5vw;
        }
        p {
          font-size: 1.6vw;
        }
      }
    }
  }
}
@media (max-width: 824px) {
  .home {
    @include V.flex-between;
    flex-direction: column;

    img {
      width: 60%;
      border-radius: 35%;
      display: grid;
    }

    &--page {
      @include V.flex-center;
      min-height: auto;
      background-image: none;

      h1 {
        width: 70%;
        font-size: 8vw;
        text-align: center;
        margin-bottom: 5%;
      }

      button {
        width: 50%;
        font-size: 3vw;
        padding: 2% 4%;
      }

      &--parg {
        width: 90%;
        text-align: center;
        font-size: 3vw;
      }

      &--cards {
        width: 75%;
        aside {
          h2 {
            font-size: 6vw;
          }
          p {
            font-size: 2vw;
          }
        }
      }
    }
  }
}
@media (max-width: 524px) {
  .home {
    img {
      width: 80%;
    }

    &--page {
      h1 {
        width: 90%;
        font-size: 11vw;
      }

      button {
        width: 70%;
        font-size: 4vw;
      }

      &--parg {
        width: 100%;
        text-align: center;
        font-size: 3.2vw;
        margin-bottom: 5%;
      }

      &--cards {
        width: 85%;
        aside {
          h2 {
            font-size: 8vw;
          }
          p {
            font-size: 3vw;
          }
        }
      }
    }
  }
}
@media (max-width: 424px) {
  .home {
    min-height: 95vh;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 180px) {
  .home {
    &--page {
      button {
        width: 90%;
        font-size: 6vw;
      }

      &--parg {
        font-size: 5vw;
      }

      &--cards {
        width: 95%;
        aside {
          h2 {
            font-size: 10vw;
          }
          p {
            text-align: center;
            font-size: 4vw;
          }
        }
      }
    }
  }
}
