@use "../../../base/_variables.scss" as V;

.header-container {
  @include V.flex-between;
  background-color: V.$bg-primary;
  padding: 1% 0;

  img {
    padding-left: 5%;
  }

  nav {
    width: 40%;
    ul {
      @include V.flex-around;
      width: 90%;
      list-style: none;
      text-decoration: none;
      a {
        @include V.font-source-regular;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &--profile {
    @include V.flex-end;
    width: 15%;
    padding-right: 3%;
    
    button {
      width: 35%;
      overflow: hidden;
      border-radius: 50%;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}
